.forecast-summaries {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

@media all and (max-width: 600px) {
  .forecast-summaries {
    flex-direction: column;
  }
}
